@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 20;
    box-sizing: border-box;
}


nav {
    padding: 45px, 0;
    border: 2px solid #DEDBDB;
}

.container {
    width: 80%;
    margin: 0 auto;
}


.row {
    display: flex;
    justify-content: space-between;
}

.lang span {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.57px;
}

.lang {
    display: flex;
    align-items: center;
}

form {
    width: 800px;
    border: 1px solid #DEDBDB;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 46px;
    padding: 65px;
}

.form-logo {
    width: 150px;
}

#form-nav-text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: left;
    color: #F0400F;
}

.form-row {
    gap: 150;
}

#form-texts {
    gap: 5px;
}

.form-title {
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 53.09px;
    text-align: center;
    margin-top: 101px;
    color: #0E0D5D;
}

.btns {
    margin-top: 79px;
    margin-bottom: 39px;
    width: 100%;
    background-color: #F5F5F5;
    border-radius: 20px;
    padding: 8px 11px;
    display: flex;
    gap: 42px;
}

.studnet-btn {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    color: black;
    text-align: center;
    padding: 10px 40px;
    background-color: white;
    border-radius: 15px;
    border: none;
}


.parent-btn {
    background: none;
    border: none;
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;
    color: #757575;
}

.modme-id {
    border: 1px solid #75757530;
    padding: 20px 51px;
    width: 100%;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    outline: none;
}

.modme-password::placeholder {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #75757582;
}


.modme-password {
    border: 1px solid #75757530;
    padding: 20px 51px;
    width: 100%;
    border-radius: 20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 39px;
    outline: none;
}

.modme-id::placeholder {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: #75757582;
}

form a {
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    text-decoration: none;
    color: #000000A3;
    margin-top: 39px;
    display: block;
}


.row-footer {
    display: flex;
    justify-content: flex-end;
}


.send-btn{
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    margin-top: 31px;
    padding: 17px 23px;
    color: white;
    background-color: #F69E86;
    border: none;
    border-radius: 20px;
}

main {
    padding-bottom: 52px;
}


.send-btn {
    background-color: #df7858;
    color: white;
}


.show {
    background: #ec4010;
}

.user-img img {
    width:150px;
    height: 190px;  
    align-items: center;
}


.row {
    padding-top: 50px;
}

h1 {
    font-family: Inter;
}

.text {
    color: red;
}

.row1 {
    margin-top: 50px;
    width: 380px;
    height: 400px;
    background: #FFFFFF;
    border-radius: 20px;
}

